$table->id();
            $table->decimal('height');
            $table->decimal('height_difference');
            $table->decimal('weight');
            $table->decimal('weight_difference');
            $table->decimal('head_circumference');
            $table->decimal('head_circumference_difference');
            $table->decimal('bmi');
            $table->integer('month_periode');
            $table->dateTime('visited_at');
            $table->foreignId('height_for_age_category_id')->constrained('height_for_age_categories');
            $table->foreignId('weight_for_age_category_id')->constrained('weight_for_age_categories');
            $table->foreignId('weight_for_height_category_id')->constrained('weight_for_height_categories');
            $table->foreignId('bmi_for_age_category_id')->constrained('bmi_for_age_categories');
            $table->timestamps();



            Schema::create('bmi_for_age_categories', function (Blueprint $table) {
                $table->id();
                $table->string('category');
                $table->timestamps();
            });
    
            Schema::create('head_circumference_for_age_categories', function (Blueprint $table) {
                $table->id();
                $table->string('category');
                $table->timestamps();
            });
    
            Schema::create('height_for_age_categories', function (Blueprint $table) {
                $table->id();
                $table->string('category');
                $table->timestamps();
            });
    
            Schema::create('weight_for_age_categories', function (Blueprint $table) {
                $table->id();
                $table->string('category');
                $table->timestamps();
            });
    
            Schema::create('weight_for_height_categories', function (Blueprint $table) {
                $table->id();
                $table->string('category');
                $table->timestamps();
            });