<div x-show="dataShow" class="bg-white p-4 mx-auto rounded-lg">
    <table class="w-full">
        <tr class="text-left border-b text-sm">
            <th>Timbang</th>
            <td>
                : {{ $data->mother_weight }}kg
            </td>
        </tr>
        <tr class="text-left border-b text-sm">
            <th>Lingkar Lengan</th>
            <td>: {{ $data->arm_circumference }} cm</td>
        </tr>
        <tr class="text-left border-b text-sm">
            <th>Tekanan Darah</th>
            <td>: {{ $data->systolic }}/{{ $data->diastolic }}</td>
        </tr>
        <tr class="text-left border-b text-sm">
            <th>Tinggi Rahim</th>
            <td>: {{ $data->uterine_height }} cm</td>
        </tr>
        <tr class="text-left border-b text-sm">
            <th>Denyut Jantung Bayi</th>
            <td>: {{ $data->baby_heart_rate }} /menit</td>
        </tr>
        <tr class="text-left border-b text-sm">
            <th>HB</th>
            <td>: {{ $data->hemoglobin }}</td>
        </tr>
        <tr class="text-left border-b text-sm">
            <th>Protein Urine</th>
            <td>: {{ $data->urine_protein }}</td>
        </tr>
        <tr class="text-left border-b text-sm">
            <th>GulaDarah</th>
            <td>: {{ $data->blood_sugar }}</td>
        </tr>                                                
    </table>
</div>